.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  font-family: var(--font-base);
  background: var(--color-background);
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.desktoplogo {
  width: 100%;
  height: 100%;
}
.logo {
  cursor: pointer;
}

.hidelink {
  font-size: 14px;

  line-height: 17px;
  letter-spacing: 0em;
  color: var(--color-black);
  cursor: pointer;
}
.hidelink a {
  color: var(--color-black);
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-purple);

  width: 90px;
  height: 33px;

  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.button a {
  font-family: var(--font-base);
  color: var(--color-white);
}

@media screen and (max-width: 1150px) {
  .logo {
    width: 200px;
    height: 50px;
  }
  .hidelink {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: 15px 25px;
  }
  .button {
    display: none;
  }
  .container img {
    width: 170px;
  }
}
