.container {
  font-family: var(--font-base);
  display: flex;
  flex-direction: column;
  gap: 35px;
  background: var(--color-background);
  width: fit-content;
}
.wrapper1 {
  display: flex;
  align-items: center;
  gap: 180px;
  padding: 25px 95px;
}
.miniwrapper1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 55%;
}
.heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
}
.tag {
  font-size: 15px;
  font-weight: 400;
  color: #6b676f;
  line-height: 24px;
}
.iconwrappers {
  display: flex;
  gap: 80px;
  padding-left: 30px;
}
.iconwrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.icontitle {
  font-size: 16px;
  font-weight: 400;
}
.iconsub {
  color: #6b676f;
  font-size: 14px;
  font-weight: 400;
}
/* .enrollbutton {
  height: 60px;
  width: 170px;
  background: #6814c9;
  color: #ffffff;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-base);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
} */
.instructorcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 365px;

  background: #250846;
  gap: 15px;
  padding: 20px;
  position: relative;
}
.icardtitle {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ff5805;
}
.imgcontainer {
  height: 128px;
  width: 128px;
  background: #ffffff;
  border-radius: 50%;
  object-fit: cover;
}
.icardname {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}
.icarddesc {
  color: #ffffff;

  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.icardbuttontitle {
  font-family: var(--font-base);
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.icardbutton {
  cursor: pointer;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding: 35px 95px;
}
.backgroundwhite {
  background: #ffffff;
}
.miniwrapper2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60%;
}
.title {
  font-size: 36px;
  font-weight: 500;
}
.coursedesc {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #6b676f;
}
.wrapper3 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.title2 {
  font-size: 20px;
  font-weight: 600;
}
.twodivs {
  display: flex;
  gap: 70px;
}
.ticktxt {
  display: flex;
  gap: 20px;
}
.subtxt {
  font-size: 15px;
  font-weight: 400;
  color: #6b676f;
  line-height: 24px;
}
.accordians {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30%;
}
.accordians2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;
}
.miniwrapper3 {
  display: flex;
  gap: 15px;
}
.miniwrapper33 {
  display: flex;
  gap: 10px;
  padding-left: 25px;
}
.accordiancontent {
  font-size: 14px;
  font-weight: 400;
  color: #6b676f;
}
.accordianwrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.accordiancontentwrapper {
  display: none;
}
.showaccordian {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.miniwrapper3 img {
  cursor: pointer;
}
.wrapper4 {
  display: flex;

  gap: 100px;
}
.accordian {
  font-size: 16px;
  font-weight: 500;
}
.wrapper5 {
  display: flex;
  gap: 260px;
}
.wrapper6 {
  display: flex;
  gap: 100px;
}
.wrapper7 {
  display: flex;
  gap: 60px;
}
.wrapper8 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 60%;
}
.wrapper9 {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.footercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0e011e;
  padding: 60px 40px;
}
.footerwrappers {
  display: flex;
  gap: 60px;
  justify-content: center;
}
.footerwrapper {
  display: flex;
  gap: 60px;
}
.footerlinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerlink {
  color: var(--color-white);

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}
.footerdivider {
  height: 95px;
  width: 0px;
  background: #fbf9fe;
  opacity: 0.2;
  border: 1px solid #fbf9fe;
}
.footertxt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 72px;
  width: 30%;
}
.footertxt1 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-white);
}
.footertxt2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  color: #fbf9fe;
}
/* subscribe*/
.inputgroup {
  display: flex;
  align-items: center;

  padding-left: 605px;
}

.emailinput {
  min-height: 40px;
  max-width: 240px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid var(--color-white);

  background-color: transparent;
}

.enrollbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-base);

  cursor: pointer;
  --color: #560bad;

  width: 10em;
  height: 3.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 18px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

.enrollbutton:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 235px;
  border-radius: 50%;
}

.enrollbutton:hover {
  color: #fff;
}

.enrollbutton:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.enrollbutton:hover:before {
  top: -30px;
  left: -30px;
}

.enrollbutton:active:before {
  background: #3a0ca3;
  transition: background 0s;
}

.buttonsubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  max-width: 40px;
  padding: 0.5em 1em;
  border: 1px solid var(--color-white);

  background-color: var(--color-purple);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buttonsubmit:hover {
  background-color: #752fc6;
}

.emailinput:focus,
.emailinput:focus-visible {
  border-color: var(--color-purple);
  outline: none;
}
