.container {
  font-family: Inter;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px;
}
.title {
  font-size: 40px;
  font-weight: 600;
}

.subtitle {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
}
.alogotutor {
  height: 15px;
  width: 25px;
}
.azurelogo {
  font-size: 14px;
  font-weight: 600;

  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 79px;
  background: #0072c6;
  color: #ffffff;
  border-radius: 4px;
}

.inputs {
  display: flex;
  justify-content: space-between;
}
.label {
  font-size: 15px;
  font-weight: 400;
  color: #6b676f;
}
.inputlabel {
  width: 45%;
}
.inputlabel2 {
  width: 100%;
}
.input1 {
  padding: 10px;
  font-family: Inter;
  height: 48px;
  width: 80%;
  margin-top: 10px;
  border: 1px solid #d6cde0;
  border-radius: 8px;
  padding: 10px;
  background-color: #ffffff;
  outline: none;
}
.input1 option {
}
.input2 {
  height: 80px;
  width: 91%;
  margin-top: 10px;
  border: 1px solid #d6cde0;
  border-radius: 8px;
  padding: 10px;
  background-color: #ffffff;
  outline: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 114px;
  border-color: #ffffff;
  border-radius: 32px;
  background: #6814c9;
  color: #ffffff;

  font-size: 20px;
  font-weight: 500;
}
.flex {
  display: flex;
  gap: 5px;
  align-items: center;
}
.flex input {
  height: 24px;
  width: 24px;
  border: 1px solid #d6cde0;
  border-radius: 8px;
  padding: 10px;

  outline: none;
}
.checkboxtxt {
  font-size: 15px;
  font-weight: 400;
  color: #6b676f;
}
